---
layout: page
title: Pulpino i2c master ip verification
description: Testbench for pulpino i2c master_verification.
img: assets/img/pulpino__i2c_master__ip_verification.png
importance: 1
contributors: 
redirect: https://github.com/mbits-mirafra/pulpino__i2c_master__ip_verification
category: work
---
