---
layout: page
title: PULPINO SPI MASTER IP VERIFICATION 
description: Testbench for PULPINO SPI_MASTER ip 
img: assets/img/pulpino__spi_master__ip_verification.png
importance: 1
contributors: Muneeb, Sahana, Nadeem, Shweta, Chetan, Venkatesh, Anitha, Sivareddy
redirect: https://github.com/mbits-mirafra/pulpino__spi_master__ip_verification
category: work
---
