<div class="card-item col">
  {%- if project.redirect -%}
    <a href="{{ project.redirect }}">
  {%- else -%}
    <a href="{{ project.url | relative_url }}">
  {%- endif -%}
      <div class="card hoverable">
        <div class="row g-0">
  {%- if project.img -%}
          <div class="col-md-3">
            <div class="card-img" style="margin:10px">
              {%- include figure.html 
                  path=project.img 
                  alt="project thumbnail" -%}
            </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-8">
  {%- else -%}
          <div class="col-md-12">
  {%- endif -%}
            <div class="card-body">
              <h3 class="card-title">{{ project.title }}</h3>
              <p class="card-text">{{ project.description }}</p>
              
              {%- if project.status %}
              <div class="project-status mt-2">
                <span class="status-label">Status:</span>
                <span class="status-badge">{{ project.status }}
                </span>
              </div>
              {%- endif %}
            </div>
          </div>
        </div>
      </div>
    </a>
</div>
